h1 > titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}

body {
    background:rgba(83, 80, 80, 0.753);
}
.form_bg {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}
.align-center {
    text-align:center;
}